body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
:root {
    --side-padding: 200px; 
    --card-color:white;
}
nav {
    display:block;
    background-color:white;
    height:85px;
}
nav img {
    display: block;
    height: 40px;
    width: fit-content;
    float: left;
    padding: 20px;
    filter: brightness(100%);
    transition: filter 0.3s ease;
}
nav img:hover{
    filter: brightness(110%);
}
@media only screen and (max-width: 1020px) {
    nav a:not(:first-child) {
        display: none;
    }
}
@font-face {
    font-family:'Inter';
    src: url('Inter-var.ttf') format('TrueType');
}
@font-face {
    font-family:'Martina';
    src: url('MartinaPlantijn-Regular.woff2') format('WOFF2');
}
nav a:not(:first-child) {
    display: block;
    float: left;
    width: fit-content;
    font-family: 'Martina', monospace;
    color: black;
    box-sizing: border-box;
    padding: 29px;
    text-decoration: none;
    border-bottom: 3px solid white;
    font-weight:600;
    font-size:20px;
    transition: color, border 0.2s;
}
nav a:not(:first-child):hover {
    border-bottom: 3px solid orange;
    color:orange;
}
#mobilenav {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    width: 200px;
    background-color: white;
    border-bottom-left-radius: 10px;
}
#openmobilenav {
    float: right;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}
#mobilenav a {
    font-family: Inter, Arial;
    color: black;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    display: none
}
@media only screen and (max-width: 1400px) {
    nav a{
        font-size:18px !important;
    }
}
@media only screen and (max-width: 1199px) {
    nav a:not(:first-child) {
        display:none;
    }
    #mobilenav {
        display: block;
        opacity: 1;
    }
}


#homepagevid {
    width: 100%;
    display: block;
    position: relative;
    max-height: 650px;
    object-fit: cover;
}

#video-overflow {
    z-index: -2;
    width: 100%;
    max-height: 650px;
    overflow: hidden;
}
/*-----------------------------*/
#salescard{
    width:350px;
    height:220px;
    background-color:white;
    position:absolute;
    left:200px;
    padding:20px;
    margin-top:-400px; 
    font-family:'Martina';
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}
#salescard h1{
    margin:0px;
}
#salescard p{
    margin:8px 0px;
    padding-bottom:15px;
    font-family:'Inter', Arial;
}
@media only screen and (max-width: 1400px) {
    #salescard{
        left:50px;
    }
}
#whyusbutton{
    background-color:#fcc264;
    padding:10px;
    color:black;
    text-decoration:none;
    cursor:pointer;
    font-family: 'Inter', Arial;
    transition:background-color 0.2s;
}
#whyusbutton:hover{
    background-color:orange;
}
#courseinfo{
    font-family:'Martina';
    padding:25px 0px;
    padding-left:var(--side-padding);
    padding-right:var(--side-padding);
}
#courseinfo p{
    font-family:'Inter', Arial;
}
#courseinfo h1{
    margin:0px;
}
#coursetype{
    display:grid;
    grid-template-columns: repeat(6, min-content) auto min-content;
    width:100%;
    margin-top:25px;
}
#coursetype button, #coursetype a {
    white-space: nowrap;  
    width: fit-content;
    min-width: max-content;  
    background: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    opacity:0.6;
    font-weight:700;
    font-family: 'Martina', Arial;
    transition: opacity 0.3s ease
}
#coursetype button:hover{
    opacity:1;
}
#coursetype button:first-child{
    padding-left:0px;
    opacity:1;
}
#coursetype a{
    opacity:0.7;
    background-color:orange;
    color:black;
    float:right;
    display: flex;
    justify-content: center;  
    align-items: center;
    transition: opacity 0.3s ease;
    text-decoration:none;
}
#coursetype a:hover {
    opacity: 1;  
}
#coursetype a svg{
    margin-left:10px;
}
/**/
#courseTerms{
    cursor:pointer;
    color:orange;
}
/**/
.course-descriptions{
    font-family:'Inter', Arial;
    border:2px solid lightgray;
    padding:20px;
    margin-top:10px;
}
.course-descriptions h2{
    margin:0px;
    font-family:'Martina'
}
.course-descriptions p{
    margin:4px 0px;
}
.course-descriptions ul{
    margin:0px -10px;
}
.course-descriptions button{
    padding:10px 15px;
    margin-top:15px;
    border:2px solid rgb(87, 87, 87);
    background:none;
    font-family:'Inter';
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    transition: background-color 0.2s
}
.course-descriptions button:hover{
    background-color:orange;
}
/**/
#unmuteHeroVideo, #expandHeroVideo{
    position:absolute;
    float:right;
    right:var(--side-padding);
    background:none;
    color:black;
    border:none;
    font-family:'Martina';
    margin-top:-35px;
    text-decoration:underline;
    background-color:white;
    cursor:pointer;
    font-size:18px;
}
#newtabHeroVideo{
    background-color:white;
    color:black;
    position:absolute;
    float:right;
    right:calc(var(--side-padding) + 100px);
    margin-top:-35px;
}
#expandHeroVideo{
    background:none;
    right:calc(var(--side-padding) + 145px);
}
#expandHeroVideo svg{
    background-color:white;
}
/**/
#courseinfo h1:nth-of-type(2) {
    margin-top:30px;
}
#courseinfo table{
    border-collapse: collapse;
    width:100%;
}  

#courseinfo table, #courseinfo th, #courseinfo td {
  border: 2px solid lightgray; 
}

#courseinfo th, #courseinfo td {
  padding: 8px; 
}
#courseinfo th{
    width:33.33%;
}
/**/
#courseinfo table tr:nth-child(n+4) {
    display: none;
}
#toggleCourseinfoButton{
    width:100%;
    height:38px;
    padding:8px;
    border:none;
    cursor:pointer;
}
#courseinfo table tr:nth-child(3) td{
    padding:0px;
}
#courseinfo table tr:nth-child(3) h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#courseinfo table tr:nth-child(3) h2::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-top:-5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid black; 
    margin-left: 10px; 
}
#courseinfo table tr:nth-child(3) h2.expanded::after {
    border-top: none; 
    border-bottom: 10px solid black; 
}
/**/
.courselist{
    list-style-type: none; 
    padding-left: 0;
}
.courseList li {
    margin-bottom: 8px; 
    font-family:'Inter', Arial;
  }
  
  .credits {
    color: gray;
    font-style: italic;
  }
  
  .or-item {
    margin-left: 20px; 
  }
  
  .or {
    font-weight: bold;
  }
  .EdCourses td {
    vertical-align: top;
  }
/*-------------------------------------*/
@media only screen and (max-width: 1400px) {
    :root {
        --side-padding: 60px; 
    }
}
/*--upper screenstyles--*/
#updates-section{
    width:calc(100% - 120px);
    padding:var(--side-padding);
    display:grid;
    grid-template-columns: repeat(2, calc(50% - 20px));
    gap:40px;
}
#updates-section h1{
    font-family:'Martina'
}
#updates-section div {
    border-top: 10px solid orange;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    padding-top:0px;
    font-family: "Inter", Arial;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#updates-section div a {
    background-color: orange;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-family: 'Inter';
    align-self: flex-start;
    transition: background-color 0.2s;
}
@media only screen and (max-width: 830px) {
    #updates-section{
        grid-template-columns:100%;
        gap:0;
        width:calc(100% - 80px);
        padding-bottom:0;
    }
    #updates-section div {
        margin-bottom:40px;
    }
}
.descriptor{
    padding:0px 40px;
    font-family:'Inter', Arial;
}
.descriptor h1{
    font-family:'Martina'
}
#partners{
    margin:40px;
    margin-top:20px;
}
.three-grid{
    display:grid;
    grid-template-columns: auto 1px auto 1px auto;
    gap:40px;
    margin-top:20px;
}
.three-grid img {
    width: 100%;
    display: block;
    position: relative;
}
@media only screen and (min-width: 1400px) {
    #updates-section{
        padding:40px 200px;
        width:calc(100% - 400px);
    }
    .descriptor{
        padding:0px 200px;
    }
    .hr-1{
        display:block;
        width:calc(100% - 400px);
        margin-left:200px;
    }
    #partners{
        padding:10px 200px;
    }
}
.alternating-grid{
    margin:40px;
}
.alternating-grid div h1{
    padding:40px;
    font-family:'Martina', Arial;
    font-size:3rem;
}
.vid-right, .vid-left{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: auto auto;
}
.vid-right h1{
    display:block;
    text-align:right;
}
.vid-left{
    margin-top:40px;
}
@media only screen and (min-width: 1250px){
    .alternating-grid div h1{
        width:50%;
    }
    .vid-right h1{
        margin-left:calc(50% - 80px);
    }
}
@media only screen and (max-width: 1130px) {
    .alternating-grid div h1{
        font-size:2rem;
    }
    .vid-right iframe, .vid-left iframe{
        width:500px;
    }
}
@media only screen and (max-width: 860px) {
    .vid-right, .vid-left{
        grid-template-columns: 100%;
    }
    .vid-right iframe, .vid-left iframe{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:100%;
    }
}
/*---------------------*/
.vidcontainer-large-right{
    display:grid;
    grid-template-columns: 30% 70%;
    padding:40px;
}
.vidcontainer-large-right h1{
    font-family:'Martina', Arial;
    font-size:2.5rem;
    font-weight:600;
    padding-right:20px;
}
@media only screen and (min-width: 1400px) {
    .vidcontainer-large-right{
        padding:40px 200px;
    }
}
.vidcontainer-large-right iframe{
    width:100%;
}
@media only screen and (min-width: 900px) {
    .vidcontainer-large-right iframe{
        height:400px;
    }
}
@media only screen and (min-width: 1111px) {
    .vidcontainer-large-right iframe{
        height:500px;
    }
    .vidcontainer-large-right h1{
        font-size:3.5rem;
        padding-right:30px;
    }
}
footer{
    display:grid;
    grid-template-columns: 34% 33% 33%;
    padding:20px 40px;
    background-color:#F3F3F3;
}
footer a{
    display:block;
    width:75%;
    color:black;
    padding:4px;
    float:right;
    font-family:"Inter", Arial;
}
@media only screen and (min-width: 1400px) {
    footer{
        padding:20px 200px;
    }
}
footer a:hover{
    font-weight:bold;
}


/*-----------------divider-------------*/
.ptitle{
    font-family:'Martina', monospace;
    font-size:3rem;
    margin:0px 60px 40px;
    display:block;
    width:fit-content;
    float:left;
}
.theme-toggle{
    margin:0px 60px;
    position:absolute;
    left:calc(50% - 155px);
    display:block;
    margin-top:30px;
}
.theme-toggle button{
    background:transparent;
    border:none;
    cursor:pointer;
    width:50px;
}
.theme-toggle span{
    font-family:'Inter', Arial;
    font-size:1.5rem;
}
.theme-toggle svg{
    transform:translateY(8px);
    transition:margin-left 0.2s;
    background-color:orange;
    border-radius:4px;
}
#themeBack:hover{
    margin-left:-8px;
}
#themeNext:hover{
    margin-left:8px;
}
/**/
#faculty-container{
    margin:10px 60px;
    display:grid;
    grid-template-columns: 50% 50%;
    gap:60px;
    width:calc(100% - 180px);
    grid-auto-rows: 360px;
}
.faculty-card{
    height:360px;
    box-sizing: border-box;
    padding:20px;
    display:grid;
    grid-template-columns: 25% auto;
    gap:20px;
    border:2px solid lightgray;
}
.faculty-card h2{
    font-family:'Martina', monospace;
    font-size:3rem;
    margin:-5px 0px;
}
.faculty-card h3{
    font-family:'Martina', monospace;
    font-size:1.5rem;
    margin:0px
}
.faculty-card p{
    font-family:'Inter', Arial;
    line-height:1.5;
}
.faculty-card img{
    width:100%;
}
/**/
.cardTheme-default{
    border-radius:4px;
}
.cardTheme-default img{
    border-radius:4px;
}
.cardTheme-green *{
    color:beige;
    font-family: 'Garamond', 'Palatino Linotype', 'Georgia', serif;
    font-weight:600;
}
.faculty-card.cardTheme-green.overflow-card{
    border:2px solid beige;
}

div.faculty-card.overflow-card.cardtheme-green::after{
    color:beige;
}
div.faculty-card.cardtheme-orange {
    background: linear-gradient(90deg, 
        #ff8c00 0%,    /* First max point */
        #ffa500 25%,  /* Transition */
        #ff8c00 50%,  /* Antinode */
        #ffa500 75%,  /* Transition */
        #ff8c00 100%   /* Second max point */
    );
}

/**/
.overflow-card{
    overflow:hidden;
    background-color:var(--card-color);
}
.overflow-card::after{
    content:'Read Full';
    position:absolute;
    margin-top:279px;
    margin-left:-20px;
    display:block;
    background: linear-gradient(to top, var(--card-color) 10%, rgba(255, 255, 255, 0) 90%);
    width:calc(50% - 93px);
    text-indent:calc(15% - 53px);
    padding:16px 0px;
    font-family:'Martina', monospace;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
}



/**/
#smallalert{
    text-align:center;
    color:darkred;
    background-color:pink;
    display:none;
}
@media only screen and (max-width: 930px) {
    #smallalert{
        display:block;
    }
}
